#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 5em;
  will-change: filter;
  transition: filter 300ms;
  margin: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #209cee57);
}

.card {
  padding: 2em;
}

.header {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.search {
  display: flex;
  align-items: stretch;
  flex-basis: 500px;
}

.searchBox {
  flex: 1;
  border: none;
  border-bottom: 2px solid #209cee57;
  font-size: 1.5em;
}

.searchIcon {
  background-color: transparent;
  border: 2px solid #209cee57;
  margin-left: 20px;
}

.content {
  margin-top: 20px;
  height: 500px;
}
